@import "tailwindcss";

:root {
  --background: #1f1f43;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Add this to your globals.css file */
@keyframes priceUpdate {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.price-update-animation {
  animation: priceUpdate 0.5s ease-out;
}

.price-up {
  color: #06C729; /* Green for price increase */
}

.price-down {
  color: #FD6152; /* Red for price decrease */
}

.price-neutral {
  color: #FEFEFE; /* White when unchanged */
}

.container {
  /* max-width: 1355px; */
  @apply mx-auto max-w-[1355px] px-4;
}

.apexcharts-tooltip.apexcharts-theme-light, .apexcharts-tooltip-title {
  background: #1f1f43 !important;
  color: #ffffff !important;
}

.apexcharts-tooltip {
  color: #000 !important;
  background: #1f1f43 !important;
    opacity: 1 !important;           /* prevent fade-out */ 
    transition: none !important;     /* disable hide animation */
    pointer-events: auto !important; /* allow hovering over the tooltip */
  
}


.apexcharts-tooltip * {
  pointer-events: auto !important;
}

 .apexcharts-tooltip .apexcharts-tooltip-series-group.active {
  background: #1f1f43 !important;
}

.wallet-adapter-dropdown-list {
  top: -50% !important;
  right: 110% !important;
}

.swiper-pagination-centered {
  left: 50% !important;
  transform: translateX(-50%) !important;
}

/* Customize range thumb */
input[type="range"].custom-slider::-webkit-slider-thumb {
  appearance: none;
  height: 35px;
  width: 35px;
  border-radius: 9999px;
  background-color: #61616d; /* gray-400 */
  cursor: pointer;
}

input[type="range"].custom-slider::-moz-range-thumb {
  height: 35px;
  width: 35px;
  border-radius: 9999px;
  background-color: #a1a1aa;
  cursor: pointer;
}

/* If not using Tailwind's animate-spin */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: #6366f1; /* indigo-500 */
  animation: spin 1s linear infinite;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.flipped {
  transform: "rotateY(180deg)";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
