@import "tailwindcss";

:root {
  --background: #1f1f43;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  /* max-width: 1355px; */
  @apply mx-auto max-w-[1355px] px-4;
}

.wallet-adapter-dropdown-list{
  top:-50%!important;
  right:110%!important
}

.swiper-pagination-centered {
  left: 50% !important;
  transform: translateX(-50%) !important;
}

/* Customize range thumb */
input[type='range'].custom-slider::-webkit-slider-thumb {
  appearance: none;
  height: 35px;
  width: 35px;
  border-radius: 9999px;
  background-color: #61616d; /* gray-400 */
  cursor: pointer;
}

input[type='range'].custom-slider::-moz-range-thumb {
  height: 35px;
  width: 35px;
  border-radius: 9999px;
  background-color: #a1a1aa;
  cursor: pointer;
}


.glass {
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.flipped {
  transform: "rotateY(180deg)";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
